<div>
    <div>
        Talk with: <input ng-model="name" type="text"/>
        <button ng-click="talk()">Talk</button>
        <p>{{ error }}</p>
    </div>
    <form core-add-form ref="stream">
        Add contact: <input ng-model="item.username" type="text"/>
        <core-form-error field="username"></core-form-error>
        <core-add-button></core-add-button>
    </form>

    Stream:
    <div core-stream ref="stream">
        {{ stream.objects }}
        <div ng-repeat="item in stream.objects">
            {{ item.id }}
            <div core-object id="item.contact_id" resource-const="user">
                TEST: {{ object }}
            </div>
        </div>
    </div>
    End of stream
</div>
