<html ng-app="chat">
<head>
    <title>Chat</title>
    <script type="text/javascript" src="/static/js/angular/angular.js"></script>
    <script type="text/javascript" src="/static/ts_comp/references.js"></script>
    <script type="text/javascript" src="/static/js/utils/observable.js"></script>
    <script type="text/javascript" src="/static/js/utils/class.js"></script>
    <script type="text/javascript" src="/static/js/core/directives.js"></script>
    <script type="text/javascript" src="/static/js/chat.js"></script>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript" src="/static/js/models.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>

  <div ng-view></div>

</body>
</html>